body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.box {
    /* padding: 20px; */
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.input-box {
    padding: 10px;
    /* border: 1px solid #ccc; */
    border:  none;
    outline: none;
}


.box.focused {
    border-color: #007BFF; /* Border color when the box is active */
}
